USE [master]
GO
/****** Object:  Database [Cities]    Script Date: 03-07-2018 19:52:21 ******/
CREATE DATABASE [Cities]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cities', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Cities.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Cities_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Cities_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cities].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cities]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 03-07-2018 19:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cities](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[spAddCity]    Script Date: 03-07-2018 19:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spAddCity]
@CityName varchar(50)
as 
Insert into Cities(CityName)
values(@CityName)
GO
/****** Object:  StoredProcedure [dbo].[spGetAllCities]    Script Date: 03-07-2018 19:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spGetAllCities]
as 
select CityId, CityName from Cities
GO
/****** Object:  StoredProcedure [dbo].[spGetCityById]    Script Date: 03-07-2018 19:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spGetCityById]
@CityId int
as
select CityId, CityName from Cities
where CityId = @CityId
GO
USE [master]
GO
